.todo-lists {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.add-task-form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.board-list{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    background-color: #eeeeee;
    padding: 15px;
    height: 100%;
    border-right: 2px solid black;
}